[Unit]
Description=Announce this host's MAC periodically

[Timer]
OnBootSec=45s
OnUnitActiveSec=3min
AccuracySec=15s

[Install]
WantedBy=timers.target
